.contact {
  padding: 1rem calc(50% - 350px);
  min-height: calc(100vh - 170px - 75.6px);
  box-sizing: border-box;
}

.contact__title {
  margin: 0;
}

.contact__description {
  margin-top: calc(1rem + 1.5vh);
  text-align: justify;
}

.contact__description > p {
  margin: 1rem 0;
}

.contact__description > p > a {
  box-shadow: none;
  font-weight: bold;
}
