.projects__title {
  grid-column: 1/13;
  text-align: center;
}

.projects__intro {
  font-size: 1.2rem;
  grid-column: 1/13;
  text-align: center;
}

.projects__lists {
  grid-column: 3/11;
  display: grid;
  grid-gap: 10px;
  margin-left: 0;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.link.is--bigger {
  font-size: 1.2rem;
}
