.blog-card__title {
  font-size: 1.5rem;
  margin-top: 2.5em;
  margin-bottom: .5em
}

.blog-card__link {
  font-weight: 600;
  box-shadow: none;
  color: hsl(204.1, 100%, 40%);
}
.blog-card__link.blog-card__link--read::after {
  width: 9px;
  height: 9px;
  content: "";
  margin-left: 3px;
  display: inline-block;
  transform: rotate(45deg);
  border: solid hsl(204, 100%, 40%);
  border-width: 1px 1px 0 0 !important;
}

.blog-card__link:hover {
  color: hsl(204.1, 100%, 30%);
  box-shadow: 0 1px 0 0 hsl(204.1, 100%, 30%)
}
