.blogcard__title{
  margin-top: 2em;
  margin-bottom: .5em
}

.blogcard__date {
  font-weight: 600;
  margin-bottom: .7rem;
  display: inline-block;
}

.blogcard__summary {
  font-size: 1.1rem;
  margin-bottom: 1rem;
}
