.footer {
  display: flex;
  height: 9.444rem; /* 170px */
  align-items: center;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
}

.footer__nav__title, .social__title {
  margin-top: .5rem;
  margin-bottom: .7rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.footer__links {
  padding: 0;
  margin-left: 0;
  margin-bottom: .4rem;
  margin-bottom: 1.2rem;
}

.social__link {
  margin-right: 10px;
  display: inline-block;
}

.social__link:last-child {
  margin-right: 0;
}

.social__link > .link {
  font-size: .9rem;
}

.footer__note {
  margin-top: 0;
  margin-bottom: .3rem;
}
