.projects__title {
  grid-column: 1/13;
  text-align: center;
}

.projects__intro {
  font-size: 1.2rem;
  grid-column: 1/13;
  text-align: center;
}

@media (max-width: 865px) {
  .project__lists {
    grid-column: 1/13;
  }
  .projects__intro {
    text-align: justify;
  }
  .projects__intro > br {
    display: none;
  }
}
